@keyframes square-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes floatting {
  to {
    bottom: 120%;
  }
}

$spin-durations: (
  "xs": 2s,
  "sm": 2s,
  "md": 8s,
  "lg": 12s,
  "xl": 30s,
  "2xl": 50s,
);

$float-durations: (
  "xs": 5s,
  "sm": 10s,
  "md": 25s,
  "lg": 40s,
  "xl": 100s,
  "2xl": 150s,
);

@each $spin-key, $spin-var in $spin-durations {
  @each $float-key, $float-var in $float-durations {
    .floating-square-#{$spin-key}-#{$float-key} {
      animation: square-spin $spin-var linear infinite,
        floatting $float-var linear forwards;
    }
  }
}
